@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  max-width: 1440px;
  margin: 0 auto;
  scroll-behavior: smooth;
}
.clip {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@media only screen and (max-width: 828px) {
  .app {
    width: 350px;
    margin: 0 auto;
  }
}


